{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block monTitre %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container">
        <section> 
            <h1 class="text-center text-light mt-5 bg-danger p-5 ">Contactez-nous</h1>
        </section>
    </div>

{% endblock %}
