{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block monTitre %}Bienvenue sur l'Accueil{% endblock %}

{% block body %}
<p class="text-center h3">Dernière actualité</p>
<p class="text-center h3">3 icones pour les produits</p>
<p class="text-center h3">Presentation de l'entreprise</p>

{% endblock %}
