{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block monTitre %}Boulangerie Pâtisserie Kock{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <img src="" class="" alt="Image de l'article">
                <p class="mt-2">Nos publications</p>
            </div>
            <div class="col">
                <img src="" alt="Image de l'article">
                <p class="mt-2">Nos produits</p>
            </div>
                <div class="col">
                <img src="" alt="Image de l'article">
                <p class="mt-2">Nous contacter</p>
            </div>
        </div>
        <hr>
        <p class="text-center h3  mt-5">Dernière actualité</p>
        <section class="text-center">
            {% for lastpost in lastposts %}
            <article class=" mt-5 mb-5  bg-light">
                <h2 class="h4 mt-3">{{lastpost.title}}</h2>
                <div class="mb-5">Ecrit le : {{ lastpost.createAt | date('d/m/Y')}}</div>
                <div class="mt-2">
                    <img src="{{asset('images/products/' ~ lastpost.image)}}" alt="Image de l'article">
                </div>
                <a href="{{path('show_post', {'id': lastpost.id})}}" class="btn btn-primary mb-2 mt-3"> Lire l'article</a>
            </article>
            {% endfor %}
        </section>
    </div>









{% endblock %}
