{% extends 'base.html.twig' %}

{% block title %}Météo{% endblock %}
{% block monTitre %}Météo{% endblock %}

{% block body %}
<div class="container shadow"> 
    <h1 class="text-center mt-5 pt-5">Rechercher la météo actuelle</h1>
      
            <div class="text-center mt-5" id="info_weather">
              <!--  <p><span>Message d'erreur</span><p> -->
                <p class="h4">Entrez une ville</p>
                <input class="mt-4" type="text" name="city" id="enter_town" value="" placeholder="Exemple : Paris">
                <input class="btn btn-secondary" type="button" value="Afficher la metéo" id="get_weather">
                <p class="h3 mt-4"> Ville : <span id="ville"> </span></p>
                <p class="h3 mt-4"> Température actuelle : <span id="temperature"></span>° C</p>
                <p class="h3 mt-4 pb-5"> Condition : <span id="conditions"> </span></p>
            </div>
    </div>

{% endblock %}
