/* body{   
background-image: url("/images/caroussel/corbeille.jpg");
}

#jojo{   
    background-image: url("/images/caroussel/corbeille.jpg");
    } */

/*home*/
#intro
{
    position:absolute;
    margin-top: -30%;
    left:10%;
    z-index: 1;
}

#diapo{
position: relative;
z-index: 2;
}

.resizing_image
{
    width:200px;
    height: 190px;
    border-radius:10px 10px 10px 10px;
    object-fit:cover;
}

.size_font{
font-size: 1.0em !important;
}


.bckgrdpersoblack{background-color:black;}
.bckgrdpersopink{background-color:rgb(245, 21, 140);}
/* .bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;} */