.resizing_image
{
    width:200px;
    height: 190px;
    border-radius:10px 10px 10px 10px;
    object-fit:cover;
}

.size_font{
font-size: 1.0em !important;
}

.bckgrdpersoblack{background-color:black;}
/* .bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;}
.bckgrdperso{background-color:black;} */