{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}
{% block monTitre %}{{post.title}}{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <article class=" mt-2 mb-5  bg-light">
                <h2 class=" h4"></h2>
                
                <div>Ecrit le : {{post.createAt | date('d/m/Y')}} 
                <div>
                    <img src="{{ post.image}}" alt="Image de l'article">
                </div>
                <div>
                    <p>{{post.content | raw}}</p>    
                </div>
            </article>
        </section>
    </div>
{% endblock %}
