{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}


<section>
    
            <h1 class="text-center text-light mt-5 bg-primary p-5 ">Page introuvable</h1>
            <p> Désolé la page demandé n'existe pas</p>
</section>

    
<!-- </div> -->

{% endblock %}
